body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
}

/* styles.css */

.container-fluid {
    background-color: #f8f9fa; /* Light background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
    margin-top: 20px;
}

h3 {
    color: #007bff; /* Header color */
    margin-bottom: 20px;
}

hr {
    border-color: #007bff; /* Horizontal rule color */
}

dl.row {
    margin-top: 20px;
}

dt.col-sm-2 {
    font-weight: bold;
    color: #343a40; /* Dark text color for labels */
}

dd.col-sm-10 {
    margin-bottom: 10px;
}

img {
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    border-radius: 5px; /* Add a slight border radius to the image */
    margin-bottom: 20px;
}

a {
    color: #007bff; /* Link color */
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

    a:hover {
        color: #0056b3; /* Hover color */
    }

