/* styles.css */

/* Base styling for cards */
.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

    /* Hover effect */
    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: lightskyblue;
        
    }

/* Styling for card titles */
.card-title {
    font-size: 1.5rem;
    color: #333;
}

/* Styling for card text (counts) */
.card-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff; /* Blue color for emphasis */
}

/* Styling for buttons */
.card-link {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn:hover{
    background-color: black;
}

.border-success {
    border-color: #28a745;
}

@media (max-width: 360px) {
    #donutchart {
        min-width: 100px; /* Set a different minimum width for small screens */
        min-height: 250px; /* Set a different minimum height for small screens */
    }
}
/* Adjust map size for small screens */
@media (min-width: 360px) and (max-width: 767px) {
    #donutchart {
        min-width: 300px; /* Set a different minimum width for small screens */
        min-height: 400px; /* Set a different minimum height for small screens */
    }
}

/* Adjust map size for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    #donutchart {
        min-width: 350px; /* Set a different minimum width for medium screens */
        min-height: 350px; /* Set a different minimum height for medium screens */
    }
}

/* Adjust map size for large screens */
@media (min-width: 992px) and (max-width: 1023px) {
    #donutchart {
        min-width: 400px; /* Set a different minimum width for large screens */
        min-height: 400px; /* Set a different minimum height for large screens */
    }
}

@media (min-width: 1024px) and (max-width: 1421px) {
    #donutchart {
        min-width: 360px; /* Set a different minimum width for large screens */
        min-height: 360px; /* Set a different minimum height for large screens */
    }
}

@media (min-width: 1422px) {
    #donutchart {
        width: 500px; /* Set a different minimum width for large screens */
        height: 500px; /* Set a different minimum height for large screens */
    }
}





@media (max-width: 360px) {
    #map {
        min-width: 100px; /* Set a different minimum width for small screens */
        min-height: 250px; /* Set a different minimum height for small screens */
    }
}
/* Adjust map size for small screens */
@media (min-width: 360px) and (max-width: 767px) {
    #map {
        min-width: 300px; /* Set a different minimum width for small screens */
        min-height: 400px; /* Set a different minimum height for small screens */
    }
}

/* Adjust map size for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    #map {
        min-width: 600px; /* Set a different minimum width for medium screens */
        min-height: 600px; /* Set a different minimum height for medium screens */
    }
}

/* Adjust map size for large screens */
@media (min-width: 992px) and (max-width: 1421px) {
    #map {
        min-width: 400px; /* Set a different minimum width for large screens */
        min-height: 400px; /* Set a different minimum height for large screens */
    }
}

@media (min-width: 1422px) {
    #map {
        min-width: 600px; /* Set a different minimum width for large screens */
        min-height: 600px; /* Set a different minimum height for large screens */
    }
}

.colbut {
    border: none;
    /* You can add additional styles as needed */
    
    background-color: #fff; /* Set your desired background color */
    color: dodgerblue;
}

