body {
}


/* Add this CSS to a separate file, e.g., styles.css */

/* Overall container style */
.container-fluid {
    margin-top: 20px;
}

/* Header style */
h4 {
    color: #007bff; /* Change the color as needed */
}

/* Left column style */
.col-left {
    margin-bottom: 20px;
}

/* Additional Info link style */
a[data-bs-toggle="collapse"] {
    color: #007bff; /* Change the color as needed */
    cursor: pointer;
}

/* Card inside the collapsed section style */
.card-body {
    
    padding: 10px;
}
    .card-body:hover {
        background-color: #f8f9fa; /* Change the background color as needed */
    }
/* Back to List button style */
.pt-3.pb-3 {
    text-align: left;
}

@media (max-width: 360px) {
    #map {
        min-width: 100px; /* Set a different minimum width for small screens */
        min-height: 250px; /* Set a different minimum height for small screens */
    }
}
/* Adjust map size for small screens */
@media (min-width: 360px) and (max-width: 767px) {
    #map {
        min-width: 300px; /* Set a different minimum width for small screens */
        min-height: 400px; /* Set a different minimum height for small screens */
    }
}

/* Adjust map size for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    #map {
        min-width: 600px; /* Set a different minimum width for medium screens */
        min-height: 600px; /* Set a different minimum height for medium screens */
    }
}

/* Adjust map size for large screens */
@media (min-width: 992px) and (max-width: 1421px) {
    #map {
        min-width: 400px; /* Set a different minimum width for large screens */
        min-height: 400px; /* Set a different minimum height for large screens */
    }
}

@media (min-width: 1422px) {
    #map {
        min-width: 600px; /* Set a different minimum width for large screens */
        min-height: 600px; /* Set a different minimum height for large screens */
    }
}