body {
}
/* Header style */
h3 {
    color: #007bff; /* Change the color as needed */
}

@media (max-width: 360px) {
    #map {
        min-width: 100px; /* Set a different minimum width for small screens */
        min-height: 250px; /* Set a different minimum height for small screens */
    }
}
/* Adjust map size for small screens */
@media (min-width: 360px) and (max-width: 767px) {
    #map {
        min-width: 300px; /* Set a different minimum width for small screens */
        min-height: 400px; /* Set a different minimum height for small screens */
    }
}

/* Adjust map size for medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    #map {
        min-width: 600px; /* Set a different minimum width for medium screens */
        min-height: 600px; /* Set a different minimum height for medium screens */
    }
}

/* Adjust map size for large screens */
@media (min-width: 992px) and (max-width: 1421px) {
    #map {
        min-width: 400px; /* Set a different minimum width for large screens */
        min-height: 400px; /* Set a different minimum height for large screens */
    }
}

@media (min-width: 1422px) {
    #map {
        min-width: 600px; /* Set a different minimum width for large screens */
        min-height: 600px; /* Set a different minimum height for large screens */
    }
}