#dashboardIcon {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 4em; /* Adjust the font size as needed */
}
.firstRow, .secondRow {
    transition: opacity 1s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

.visible {
    opacity: 1;
    pointer-events: auto;
    position: relative;
}
html, body {
    height: 100%;
}
.dashboard-container {
    min-height: 200vh; /* ensure enough height to scroll */
}
